.forgot-pass {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px;
  gap: 40px;

  position: absolute;
  width: 480px;
  height: 388px;
  left: calc(50% - 480px / 2);
  top: calc(50% - 388px / 2);

  /* 12 Background/Light/01 Default */

  background: #ffffff;
  box-shadow: -1px -1px 4px rgba(33, 43, 54, 0.1),
    2px 2px 4px rgba(33, 43, 54, 0.1);
  border-radius: 8px;
}

.forgot-title {
  //   border: 2px solid red;
  width: 259px;
  height: 36px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #212b36;
}

.sub-title {
  //   border: 2px solid red;
  padding-top: 0%;
  width: 448px;
  height: 48px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #637381;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.reset-pass-btn {
  width: 448px;
  height: 48px;
  background: #1890ff;
  border-radius: 8px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.back {
  width: 36px;
  height: 26px;

  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  color: #1890ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}
