.reset-pass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 16px;
  gap: 36px;

  position: absolute;
  width: 512px;
  height: 412px;
  left: 464px;
  top: 106px;
  //   border: 2px solid green;
  background: #ffffff;
  box-shadow: -1px -1px 4px rgba(33, 43, 54, 0.1),
    2px 2px 4px rgba(33, 43, 54, 0.2);
  border-radius: 8px;
}

.reset-title {
  width: 262px;
  height: 36px;
  align-items: center;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #212b36;
  flex: none;
  order: 0;
  flex-grow: 0;
}
