.navbar-items {
  display: flex;
  width: 70%;
  margin-left: 15%;
  margin-top: 10px;
  height: 60px;
  justify-content: space-between;
  position: relative;
}

.logo {
  // border: 2px solid green;
  width: 22.58px;
  height: 22px;
  background: url(icon.png);
}

.logoText {
  margin-left: "500px";
  color: #000000;
}

.icon {
  margin-left: auto;
  margin: 15px;
  color: #000000;
}
.user {
  margin-top: "1px";
}

.user-actions {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
}
.model-icons {
  color: grey;
  margin-right: 10px;
}
